<!DOCTYPE html>
<html>
<head>
    <title>Country Game</title>
</head>

<body>

    <h1>Learn the Countries of the World</h1>

    <p>Choose a continent:</p>

    <ul>
        <li><a href="/continent/Africa">Africa</a></li>
        <li><a href="/continent/Asia">Asia</a></li>
        <li><a href="/continent/Europe">Europe</a></li>
        <li><a href="/continent/North%20America">North America</a></li>
        <li><a href="/continent/South%20America">South America</a></li>
        <li><a href="/continent/Oceania">Oceania</a></li>
    </ul>

</body>
</html>