<!DOCTYPE html>
<html>

<head>
    <title>Country Game</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<header>
    <h1>🌎 Learn the Countries of the World</h1>
    <p>How many countries can you name?</p>
</header>

<div class="container">

    <h2>Choose a Continent</h2>

    <div class="continent-links">

        <a class="continent-button" href="/continent/Africa">
            🌍 Africa
        </a>

        <a class="continent-button" href="/continent/Asia">
            🌏 Asia
        </a>

        <a class="continent-button" href="/continent/Europe">
            🌍 Europe
        </a>

        <a class="continent-button" href="/continent/North%20America">
            🌎 North America
        </a>

        <a class="continent-button" href="/continent/South%20America">
            🌎 South America
        </a>

        <a class="continent-button" href="/continent/Oceania">
            🌏 Oceania
        </a>

    </div>

</div>

</body>
</html>